#textdomain wesnoth-Flight_Freedom

[scenario]
    name= _ "Epilogue"
    {MAP 21}
    turns=-1
    {SCENARIO_MUSIC epilogue.ogg}
    victory_when_enemies_defeated=no
    id=Drake_Epilogue
    next_scenario="null"

    {STORY_DRAKE_EPILOGUE}

    {INDOORS}

    [side]
        type=Drake Chieftain
        id=Malakar
        name= _ "Malakar"
        side=1
        canrecruit=yes
        controller=human
        recruit=
        team_name=good
        unrenamable=yes
        shroud=yes
        user_team_name= _ "Kakatar Tribe"
        fog=no
    [/side]
    [side]
        side=2
        canrecruit=no
        controller=null
        no_leader=yes
        recruit=
        team_name=good
        shroud=yes
        user_team_name= _ "Drake Guards"
        fog=no
    [/side]

    {OBJECTIVES_HEADER_BEGIN}
        {CONDITION_WIN ( _ "Take your place at the throne")}
    {OBJECTIVES_FOOTER_BEGIN}

    [event]
        name=prestart
        [terrain]
            x,y=9,9
            terrain=Rr
        [/terrain]
        #positions Malakar
        [teleport]
            [filter]
                id=Malakar
            [/filter]
            x=9
            y=23
        [/teleport]
        [recall]
            id=Kogw
        [/recall]
        {MODIFY_UNIT id=Kogw side 2}
        {TELEPORT_UNIT (
            id=Kogw
        ) 8 13}

        [item]
            x,y=8,9
            image=scenery/drake-banner.png
        [/item]
        [item]
            x,y=10,9
            image=scenery/drake-banner.png
        [/item]
        [item]
            x,y=8,11
            image=scenery/drake-banner.png
        [/item]
        [item]
            x,y=10,11
            image=scenery/drake-banner.png
        [/item]
        [item]
            x,y=9,9
            image=scenery/throne.png
        [/item]
        {DRAKE_GUARD_STONE 8 10 2}
        {DRAKE_GUARD_STONE 8 16 2}
        {DRAKE_GUARD_STONE 8 19 2}
        {DRAKE_GUARD_STONE 8 22 2}
        {DRAKE_GUARD_STONE 8 25 2}
        {DRAKE_GUARD_STONE 8 28 2}
        {RDRAKE_GUARD_STONE 10 10 2}
        {RDRAKE_GUARD_STONE 10 13 2}
        {RDRAKE_GUARD_STONE 10 16 2}
        {RDRAKE_GUARD_STONE 10 19 2}
        {RDRAKE_GUARD_STONE 10 22 2}
        {RDRAKE_GUARD_STONE 10 25 2}
        {RDRAKE_GUARD_STONE 10 28 2}
    [/event]

    [event]
        name=start
        [endlevel]
            result=victory
            carryover_report=no
            linger_mode=no
            replay_save=no
        [/endlevel]
    [/event]

    [event]
        name=moveto
        [filter]
            x=9
            y=9
        [/filter]
        [message]
            speaker=Malakar
            message= _ "VICTORY IS OURS!!!"
        [/message]
        [endlevel]
            result=victory
            bonus=no
        [/endlevel]
    [/event]

    {FTF_COMMON}
[/scenario]

# some of the hidden/less obvious stuff in this campaign (SPOILERS!)
# The Grand Marshal leading the invasion force in Survival, who kills Necolag, eventually becomes the leader of the human occupation in Endgame
# In Southern Shore, if you destroy an enemy boat with a drake's fire attack, the Unforgiver gets a new attack
# In Underground, you can sacrifice a unit to bring the Skeletal Dragon back to life by moving it to a dragon statue
# In Hordes of the Foul Undead, you can rescue an Arch Mage from a village near the southeastern corner
# In Gate of Storms, keeping Malakar ahead of all forces (so he triggers all four gate messages) and reaching the Gate with him first unlocks potential alternate evil ending or fearless trait for Malakar
# In Liberation, there is wood to finish the bridge separating Kamalar from the rest of the map, located in the slaves' quarters in the southwest
# In Liberation, killing the torture chamber guard causes him to drop a book with additional background information
# In Battle for the Temple, if Malakar, Kogw, or Theracar kills Yrynyc, you get some bonus dialogue
