#textdomain wesnoth-Flight_Freedom

[unit_type]
    id=Saurian Knifethrower
    name= _ "Saurian Knifethrower"
    race=lizard
    image="units/saurians/knifethrower.png"
    hitpoints=43
    movement_type=lizard
    movement=6
    experience=150
    {AMLA_DEFAULT}
    level=3
    alignment=chaotic
    advances_to=null
    undead_variation=saurian
    cost=45
    usage=mixed fighter
    # wmllint: local spelling Knifethrowers
    description= _ "The Saurian Knifethrowers are the elite of the Skalds. They possess incredible skill with their arms, enabling them to throw many daggers at blinding speeds."
    {DEFENSE_ANIM "units/saurians/knifethrower.png" "units/saurians/knifethrower.png" hiss-hit.wav }
    die_sound=hiss-die.wav
    [attack]
        name=teeth
        description=_"teeth"
        type=blade
        range=melee
        damage=12
        number=1
        icon=attacks/fangs.png
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
    [attack]
        name=dagger
        description=_"dagger"
        type=pierce
        range=ranged
        damage=6
        number=6
        icon=attacks/dagger-thrown-human.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=teeth
        [/filter_attack]
        hits=yes
        [frame]
            begin=-150
            end=100
            image="units/saurians/knifethrower.png"
            sound=bite.ogg
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=teeth
        [/filter_attack]
        hits=no
        [frame]
            begin=-150
            end=100
            image="units/saurians/knifethrower.png"
            sound={SOUND_LIST:MISS}
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]
        hits=yes
        [frame]
            begin=-100
            end=100
            image="units/saurians/knifethrower.png"
        [/frame]
        [missile_frame]
            begin=-100
            end=0
            image="projectiles/dagger-n.png"
            image_diagonal="projectiles/dagger-ne.png"
            sound=throwing-knife.ogg
        [/missile_frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]
        hits=no
        [frame]
            begin=-100
            end=100
            image="units/saurians/knifethrower.png"
        [/frame]
        [missile_frame]
            begin=-100
            end=0
            image="projectiles/dagger-n.png"
            image_diagonal="projectiles/dagger-ne.png"
            sound=throwing-knife-miss.ogg
        [/missile_frame]
    [/attack_anim]
[/unit_type]
