#textdomain wesnoth-Flight_Freedom

[textdomain]
    name="wesnoth-Flight_Freedom"
    path="data/add-ons/Flight_Freedom/translations"
[/textdomain]

#comment this out in case we decide to do this later
#define FTF_HAVE_RESOURCES
#enddef

#define FTF_HAVE_RESOURCES_STATUS
"" #enddef

# Load dependency utils
#ifdef NEED_DEPENDENCY_UTILS
{~add-ons/Flight_Freedom/dependency-utils.cfg}
#endif

# wmlindent: start ignoring
#define FTF_IMAGES_DIR
data/add-ons/Flight_Freedom_Resources/images#enddef

#define FTF_MUSIC_DIR
data/add-ons/Flight_Freedom_Resources/music#enddef
# wmlindent: stop ignoring

[campaign]
    id=Flight_to_Freedom
    abbrev= _ "FtF"
    version={~add-ons/Flight_Freedom/dist/VERSION}
    name= _ "Flight to Freedom"
    define=CAMPAIGN_FLIGHT_FREEDOM
    first_scenario=Survival
#ifdef OLD_DIFFICULTIES
    difficulties=EASY,NORMAL,HARD
    difficulty_descriptions={MENU_IMG_TXT2 "units/drakes/glider.png~RC(magenta>red)" _"Hatchling" _"(Easier)"} + ";*" + {MENU_IMG_TXT2 "units/drakes/glider-takeoff-3.png~RC(magenta>red)" _"Warrior" _"(Normal)"} + ";" + {MENU_IMG_TXT2 "units/drakes/glider-fly-4.png~RC(magenta>red)" _"Hero" _"(Difficult)"}
#else
	{CAMPAIGN_DIFFICULTY EASY	"units/drakes/glider.png~RC(magenta>red)" ( _ "Hatchling") ( _ "Easier")}
	{CAMPAIGN_DIFFICULTY NORMAL	"units/drakes/glider-takeoff-3.png~RC(magenta>red)" ( _ "Warrior") ( _ "Normal")}
	{DEFAULT_DIFFICULTY}
	{CAMPAIGN_DIFFICULTY HARD	"units/drakes/glider-fly-4.png~RC(magenta>red)" ( _ "Hero") ( _ "Difficult")}
#endif
    icon="halo/fire-aura.png~CROP(164,164,72,72)~O(70%)~BLIT(projectiles/fireball-impact-4.png~CROP(14,33,72,72)~O(60%),0,0)~BLIT(items/cage.png~CROP(2,0,37,72),0,0)~BLIT(items/cage.png~CROP(37,0,31,62),41,0)~BLIT(units/drakes/glider-fly-2.png~CROP(0,0,68,72)~RC(magenta>red),4,0)
"
    description= _ "This is the story of the great Drake leader Malakar, who saw the near-destruction of his tribe at the hands of a dark wizard, and of how he gathered his shattered people and set out on a dangerous journey across unknown lands in the hopes of bringing them back home.

<span color='#808080'>Now updated for BFW 1.14+!</span>
(Expert Level)"+"

<span color='#808080'>"+_"Version:"+" {~add-ons/Flight_Freedom/dist/VERSION}"+"
"+_"(for Wesnoth v1.14.0 or later)"+"</span>"+{FTF_HAVE_RESOURCES_STATUS}
    image=data/add-ons/Flight_Freedom/images/FtFsplash.png
    extra_defines=ENABLE_ARMAGEDDON_DRAKE

    {~add-ons/Flight_Freedom/credits.cfg}
[/campaign]

#ifdef CAMPAIGN_FLIGHT_FREEDOM
{~add-ons/Flight_Freedom/main.cfg}
#endif

#ifdef EDITOR
{~add-ons/Flight_Freedom/_editor.cfg}
#endif

#undef FTF_HAVE_RESOURCES
#undef FTF_HAVE_RESOURCES_STATUS
#undef FTF_IMAGES_DIR
#undef FTF_MUSIC_DIR
