#textdomain wesnoth-Flight_Freedom

# in no particular order:

# Dave, for being the main developer of Wesnoth
# Ce'dric, for being the king of the rabbits :)
# Neoriceisgood, for making the drakes
# antwerp, for the thunder spirit graphics
# fmunoz, for the Kogw, gargoyle, rock golem, pirate, fungoid, and Malakar (in Rebellion and Manor) graphics
# Jason Lutes and Jetrel, for the Malakar and Kogw portraits
# PhantasyRPG, for their chicken and horse graphics
#  (http://www.phantasyrpg.com/)
# AT, for the Gate graphics
# Christophe33, for the cave naga graphic
# http://freesoundfiles.tintagel.net/Audio/ for the sounds bawk.wav, moo.wav, crow.wav, oink.wav and brokeng.wav
# Elvish Pillager, for the intro music and WML help
# Dacyn, for his tips
# Invisible Philosopher, for the snippets of code from Wesvoid
# jyrierik, for his help with balancing
# Quensul, for Wercator (used to create the map of Morogor)
# sanna and crimson_penguin, for helping me compile the map editor
# the German, Italian, Swedish, Danish and French translation teams
# Jetryl, for the splash screen and for coloring the portraits of Malakar and Kogw
# quartex, for the chasm graphics found in UtBS
# Xan, for the flaming fist attack icon
# scott, for his help in fixing the underground scenarios
# Extended Era, for the force ball attack icon, the nagas and some projectile graphics
# Fynmiir, for many of the ship graphics
# James Woo, for Prax III's portrait
# A New Order, for the chair, throne, banner and gallows graphics
# Imperial Era, for the magic sword attack icon
# Eleazar, for Prax's attack icon
# Ranger M, for the lava monster image
# Mark Goodenough, for the naga hunter's portrait
# Raajal, for the mage charge icons and thunder spirit hit sound
# ZhayTee, for the tragedy music
# TRoW, for the dummy fireball unit code
# Ken Oh, for parts of the fireball and boiling oil attack codes
# irrevenant, for the indoors time-of-day image
# Imperial Era, for the ballista graphics and code
# zookeeper, for the bombard ranged attack code
# Shadow Master, for the close-up potion images, the incisors attack image, the editor.cfg file, the bird movement code, some terrain WML, the abomination image and the orcish banner image
# Gargoyle pillager, for the armor image
# Syntax_Error, for the drake icon and bookshelves
# battlestar, for the lava fissure image and the image of the skeleton with money
# mesilliac, for the dungeon wall terrain graphics and WML
# EEDragons (campaign), for the drake bite image
# Fiery Menace, for the key overlay image
# ineedtoreportbugs, for the cow image
# alarantalara, for the fixes on wesnoth-umc-dev
# inferno8, for the fixed rain code and weather effects in Open Ocean
# battlestar, for scenery images used in The Manor
# WTactics, for the book portrait
# bera, for Kzzklk's portrait
# Flickr User Honou, for the book graphic
# Flickr User Tassiesim, for the music graphic
# Archaic Era, for the table terrain
# everyone who has sent feedback
# everyone who has played
# anyone who I forgot to mention

#There are some images for items which are from Reiner's site:
#
#http://www.reinerstileset.4players.de:1059/englisch.htm
#Copyright terms:
#
#"The tilesets are freeware. Even for commercial Games. I just want my name in the Credits in this case: Reiner "Tiles" Prokein. You can modify my graphics in every needed way: size, colour, fileformat , ..."

#[about]
#    title= _ "Flight to Freedom"
#    text= _ "read credits.cfg for full list of contributions"
#[/about]
[about]
    title= _ "Original Creator and Inspiration"
    text= _ "MadMax"
[/about]
[about]
    title= _ "Version 5 Author, Maintainer"
    text= _ "Nova (Chris Young)"
[/about]
[about]
    title= _ "Graphics"
    text= _ "fmunoz
antwerp
Neoriceisgood
Jason Lutes
PhantasyRPG
AT
Christophe33
Quensul
Jetrel
quartex
Xan
Extended Era
Fynmiir
James Woo
A New Order
Imperial Era
Eleazar
Ranger M
Reiner 'Tiles' Prokein
Mark Goodenough
Raajal
irrevenant
Imperial Era
Shadow Master
Gargoyle pillager
Syntax_Error
battlestar
mesilliac
EEDragons
Fiery Menace
ineedtoreportbugs
WTactics
bera
Archaic Era
and others"
[/about]
[about]
    title= _ "Sounds and Music"
    text= _ "http://freesoundfiles.tintagel.net/Audio/
Elvish Pillager
Raajal
ZhayTee - wesnoth_tragedy
amilcare - intro"
[/about]
