#textdomain wesnoth-Flight_Freedom

#right now FtF doesn't have dependencies. Included the necessary infrastructure anyway to make it easier for a future maintainer.

# Prevent conflicts
#undef FTF_HAVE_RESOURCES

#ifhave ~add-ons/Flight_Freedom_Resources/
#define FTF_HAVE_RESOURCES
#enddef
#endif

# wmlindent: start ignoring

#ifndef FTF_HAVE_RESOURCES
#define FTF_HAVE_RESOURCES_STATUS
"
<span color='red' size='large'><b>!</b></span> <span color='#888' size='large'>"+_"The required add-on “<i>Flight to Freedom: Resources</i>” is currently <b>not</b> installed."+"</span>" #enddef
#else
#define FTF_HAVE_RESOURCES_STATUS
"" #enddef
#endif

# wmlindent: stop ignoring
