#textdomain wesnoth-Flight_Freedom

[binary_path]
    path=data/add-ons/Flight_Freedom/
[/binary_path]

# if available, use UMC Music Book packs
#ifhave ~add-ons/UMC_Music_Book_03/_main.cfg
#define HAVE_UMC03_MUSIC
#enddef
[binary_path]
    path=data/add-ons/UMC_Music_Book_03/
[/binary_path]
#endif

#ifhave ~add-ons/UMC_Music_Book_08/_main.cfg
#define HAVE_UMC08_MUSIC
#enddef
[binary_path]
    path=data/add-ons/UMC_Music_Book_08/
[/binary_path]
#endif

# Book 10's most used
#ifhave ~add-ons/UMC_Music_Book_10/_main.cfg
#define HAVE_UMC10_MUSIC
#enddef
[binary_path]
    path=data/add-ons/UMC_Music_Book_10/
[/binary_path]
#endif

# if available, use weather effects from Durzi's AWaS
#ifhave ~add-ons/Animated_Weather_and_Scenery/_main.cfg
#define HAVE_AWAS
#enddef
#else
# otherwise fall back to our own weather effects implementation
# uses weather assets from mainline Wesnoth
[binary_path]
#ifver WESNOTH_VERSION == 1.19.8
    path=data/resources/Weather
#else
    path=data/internal/Weather
#endif
[/binary_path]
#endif

#ifdef FTF_HAVE_RESOURCES
[binary_path]
    path=data/add-ons/Flight_Freedom_Resources
[/binary_path]
#endif

[+language]
    range_bombard= _ "bombard"
[/language]

[lua]
    code = <<
        wesnoth.dofile '~add-ons/Flight_Freedom/lua/common.lua'
        -- use [animate_path] from the Wesnoth Lua Pack, written by Alarantalara
        interpolation_methods = wesnoth.dofile '~add-ons/Flight_Freedom/lua/animation.lua'
        wesnoth.dofile '~add-ons/Flight_Freedom/lua/distance_between.lua'
        -- use [npc_bird_behavior] from After the Storm, written by shadowm
        wesnoth.dofile '~add-ons/Flight_Freedom/lua/npc.lua'
    >>
[/lua]

{./macros}

{./terrain}

{./images}

[+units]
    {./units.cfg}
    {./units}
[/units]

#ifdef LOAD_MUSIC
{./music}
#endif

#ifdef DEBUG_MODE
#define BLOCK_ACHIEVEMENTS
#enddef
#endif

#define CONDITIONAL_AWARD_ACHIEVEMENT ID
#ifndef BLOCK_ACHIEVEMENTS
    [set_achievement]
        content_for=Flight_to_Freedom
        id={ID}
    [/set_achievement]
#else
    [message]
        speaker=narrator
        {NARRATOR_ICON}
        #po: trailing space is intentional here due to achievement ID being spliced on afterwards:
        message=_"achievement blocked due to BLOCK_ACHIEVEMENTS being defined: " + {ID}
        # wmllint: no-icon
    [/message]
#endif
#enddef

{./scenarios}
#ifndef DISABLE_B_BRANCH
{./scenarios_b}
#endif

{./sounds}
