#textdomain wesnoth-Flight_Freedom

[unit_type]
    id=Naga Spellwarrior
    name= _ "Naga Spellwarrior"
    race=naga
    gender=male,female
    image="units/nagas/spellwarrior-m.png"
    hitpoints=45
    movement_type=naga
    [defense]
        flat=50
        sand=40
        village=30
        castle=40
        cave=60
    [/defense]
    movement=6
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    undead_variation=swimmer
    cost=104
    usage=mixed fighter
    description= _ "Warrior Mages who master their art become even more skilled in battle than the feared Naga Myrmidons. Although they are still weaker, they move with impossible speed. They no longer need to carry swords around with them, because they can summon one when they need it."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}
    {DEFENSE_ANIM "units/nagas/spellwarrior-m-defend.png" "units/nagas/spellwarrior-m.png" {SOUND_LIST:NAGA_HIT} }
    die_sound=naga-die.ogg
    [attack]
        name=sword
        description=_"sword"
        icon=attacks/sword-sidhe-great.png
        type=blade
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=melee
        damage=7
        number=6
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        hits=yes
        [frame]
            begin=-90
            end=100
            image="units/nagas/spellwarrior-m.png"
            sound={SOUND_LIST:SWORD_SWISH}
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        hits=no
        [frame]
            begin=-90
            end=100
            image="units/nagas/spellwarrior-m.png"
            sound={SOUND_LIST:MISS}
        [/frame]
    [/attack_anim]
    [female]
        name= _ "Nagini Spellwarrior"
        gender=female
        image="units/nagas/spellwarrior-f.png"
        {DEFENSE_ANIM "units/nagas/spellwarrior-f-defend.png" "units/nagas/spellwarrior-f.png" {SOUND_LIST:NAGA_HIT} }
        die_sound=naga-die.ogg
        [attack]
            name=sword
            description=_"sword"
            type=blade
            [specials]
                {WEAPON_SPECIAL_MAGICAL}
            [/specials]
            range=melee
            damage=7
            number=6
            icon=attacks/sword-sidhe-great.png
        [/attack]
        [attack_anim]
            [filter_attack]
                name=sword
            [/filter_attack]
            hits=yes
            [frame]
                begin=-90
                end=100
                image="units/nagas/spellwarrior-f.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/attack_anim]
        [attack_anim]
            [filter_attack]
                name=sword
            [/filter_attack]
            hits=no
            [frame]
                begin=-90
                end=100
                image="units/nagas/spellwarrior-f.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/attack_anim]
    [/female]
[/unit_type]
