#textdomain wesnoth-Flight_Freedom

#contains both wild and tame horses
[unit_type]
    id=Horse
    name= _ "Wild Horse"
    race=animal
    image="units/npc/horse.png"
    [movement_anim]
        [frame]
            begin=0
            end=150
            image="units/npc/horse-moving.png"
        [/frame]
    [/movement_anim]
    hitpoints=17
    movement_type=mounted
    movement=7
    experience=100
    {AMLA_DEFAULT}
    {TRAIT_FERAL_MUSTHAVE}
    level=0
    alignment=neutral
    advances_to=null
    cost=1
    usage=fighter
    description= _ "Horses that escape captivity often become wild and hostile to humans, especially if cornered or frightened. Though they are easily put down, their kicks can smash a man's skull."
    {DEFENSE_ANIM "units/npc/horse-defend.png" "units/npc/horse.png" {SOUND_LIST:HORSE_HIT} }
    die_sound=horse-die.ogg
    [attack]
        name=kick
        description=_"kick"
        type=impact
        range=melee
        icon=attacks/trample.png
        damage=7
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=kick
        [/filter_attack]
        [frame]
            begin=-200
            end=-75
            image="units/npc/horse-kick.png"
            sound=horse-canter.wav
        [/frame]
    [/attack_anim]
[/unit_type]
[unit_type]
    id=Work Horse
    name= _ "Horse"
    race=animal
    image="units/npc/workhorse.png"
    hitpoints=14
    movement_type=mounted
    movement=7
    experience=100
    {AMLA_DEFAULT}
    {TRAIT_FERAL_MUSTHAVE}
    level=0
    alignment=neutral
    advances_to=null
    cost=1
    usage=fighter
    description= _ "Horses, when tamed, are used as mounts by Elvish and Human armies, and also as beasts of burden."
    {DEFENSE_ANIM "units/npc/workhorse.png" "units/npc/workhorse.png" {SOUND_LIST:HORSE_HIT} }
    die_sound=horse-die.ogg
    [attack]
        name=kick
        description=_"kick"
        type=impact
        range=melee
        icon=attacks/trample.png
        damage=2
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=kick
        [/filter_attack]
        [frame]
            begin=-200
            end=-75
            image="units/npc/workhorse.png"
            sound=horse-canter.wav
        [/frame]
    [/attack_anim]
[/unit_type]
