# wmllint: no translatables

#define QUAKE_NOSOUND
    [scroll]
        x=5
        y=0
    [/scroll]
    [delay]
        time=10
    [/delay]
    [scroll]
        x=-10
        y=0
    [/scroll]
    [delay]
        time=10
    [/delay]
    [scroll]
        x=0
        y=5
    [/scroll]
    [delay]
        time=10
    [/delay]
    [scroll]
        x=0
        y=-10
    [/scroll]
#enddef

#define DEFENSE_ANIM_SHIP BASEFRAME
    {DEFENSE_ANIM_FILTERED {BASEFRAME} {BASEFRAME} wose-miss.ogg (
        [filter_attack]
            type=blade,impact,pierce,arcane,cold
        [/filter_attack]
    )}
    {DEFENSE_ANIM_FILTERED {BASEFRAME} {BASEFRAME} torch.ogg (
        [filter_attack]
            type=fire
        [/filter_attack]
    )}
#enddef

#necessary to avoid nested parentheses in {SCATTER_IMAGE} calls
#a trick from IfTU
#define RED_BANNER
items/orcish-banner.png~RC(magenta>red)#enddef

#define TRACK_NE X Y
    [item]
        image=scenery/trackNE.png
        x,y={X},{Y}
        visible_in_fog=yes
    [/item]
#enddef
#define TRACK_NW X Y
    [item]
        image=scenery/trackNW.png
        x,y={X},{Y}
        visible_in_fog=yes
    [/item]
#enddef

#taken from Wesvoid
#define SPIDERWEB X Y
    {RANDOM scenery/web1.png,scenery/web2.png}
    [item]
        x={X}
        y={Y}
        image=$random
    [/item]
    {CLEAR_VARIABLE random}
#enddef

#define FIREBALL_IMPACT_FRAME NUMBER X Y
    [item]
        x,y={X},{Y}
        halo=projectiles/fireball-impact-{NUMBER}.png
        visible_in_fog=yes
    [/item]
    [delay]
        time=60
        accelerate=yes
    [/delay]
    [remove_item]
        x,y={X},{Y}
        image=projectiles/fireball-impact-{NUMBER}.png
    [/remove_item]
#enddef

#define FIREBALL_IMPACT X Y
    {FIREBALL_IMPACT_FRAME 1 {X} {Y}}
    {FIREBALL_IMPACT_FRAME 2 {X} {Y}}
    {FIREBALL_IMPACT_FRAME 3 {X} {Y}}
    {FIREBALL_IMPACT_FRAME 4 {X} {Y}}
    {FIREBALL_IMPACT_FRAME 5 {X} {Y}}
    {FIREBALL_IMPACT_FRAME 6 {X} {Y}}
    {FIREBALL_IMPACT_FRAME 7 {X} {Y}}
    {FIREBALL_IMPACT_FRAME 8 {X} {Y}}
    {FIREBALL_IMPACT_FRAME 9 {X} {Y}}
    {FIREBALL_IMPACT_FRAME 10 {X} {Y}}
    {FIREBALL_IMPACT_FRAME 11 {X} {Y}}
    {FIREBALL_IMPACT_FRAME 12 {X} {Y}}
    {FIREBALL_IMPACT_FRAME 13 {X} {Y}}
    {FIREBALL_IMPACT_FRAME 14 {X} {Y}}
    {FIREBALL_IMPACT_FRAME 15 {X} {Y}}
    {FIREBALL_IMPACT_FRAME 16 {X} {Y}}
#enddef

#ripped and hacked from Elder_Mage.cfg
#define TSPIRIT_LIGHTNING DIRECTION_NUMBER IMAGE
    [attack_anim]
        [filter_attack]
            name=lightning
        [/filter_attack]

        [if]
            direction=sw,s,se

            [missile_frame]
                begin=-250
                end=150
                halo=halo/lightning-bolt-{DIRECTION_NUMBER}-1.png~FL(vert):100,halo/lightning-bolt-{DIRECTION_NUMBER}-2.png~FL(vert):100,halo/lightning-bolt-{DIRECTION_NUMBER}-3.png~FL(vert):100,halo/lightning-bolt-{DIRECTION_NUMBER}-4.png~FL(vert):100
                halo_y=-125
                offset=1.0
            [/missile_frame]
        [/if]
        [else]
            direction=nw,n,ne

            [missile_frame]
                begin=-250
                end=150
                halo=halo/lightning-bolt-{DIRECTION_NUMBER}-1.png:100,halo/lightning-bolt-{DIRECTION_NUMBER}-2.png:100,halo/lightning-bolt-{DIRECTION_NUMBER}-3.png:100,halo/lightning-bolt-{DIRECTION_NUMBER}-4.png:100
                halo_y=-125
                offset=1.0
            [/missile_frame]
        [/else]

        [if]
            hits=yes
            [frame]
                begin=-300
                end=-200
                image={IMAGE}
                sound=lightning.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-300
                end=-200
                image={IMAGE}
                sound=lightning-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=-200
            end=-100
            image={IMAGE}
        [/frame]
        [frame]
            begin=-100
            end=100
            image={IMAGE}
        [/frame]
        [frame]
            begin=100
            end=200
            image={IMAGE}
        [/frame]
        [frame]
            begin=200
            end=250
            image={IMAGE}
        [/frame]
    [/attack_anim]
#enddef
