#textdomain wesnoth-Flight_Freedom

[unit_type]
    id=Cave Ant
    name= _ "Cave Ant"
    race=monster
    image=units/monsters/cave-ant.png
    profile="portraits/monsters/ant-giant.webp"
    hitpoints=28
    movement_type=mountainfoot
    movement=4
    experience=50
    level=1
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    {TRAIT_FERAL_MUSTHAVE}
    cost=12
    usage=fighter
    description= _ "Giant ants are common in almost any environment, from caverns deep under the earth to the tops of tall mountains. Cave ants such as these live deep underground and tend to grow up over their normal size. Though normally not hostile, they can bite at close range, dealing more damage than their cousins above-ground."
    die_sound=hiss-die.wav
    undead_variation=spider # not perfect, but better than a bald man
    {DEFENSE_ANIM "units/monsters/cave-ant-defend.png" "units/monsters/cave-ant.png" {SOUND_LIST:BAT_HIT} }
    [attack]
        name=fangs
        #textdomain wesnoth-units
        description= _"fangs"
        icon=attacks/fangs-ant.png
        type=blade
        range=melee
        damage=6
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=fangs
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image=units/monsters/cave-ant-attack.png
                sound=bite-small.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image=units/monsters/cave-ant-attack.png
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
