#textdomain wesnoth-Flight_Freedom

[unit_type]
    id=Rock Golem
    name= _ "Rock Golem"
    race=monster
    image="units/monsters/rockgolem.png"
    hitpoints=35
    movement_type=largefoot
    movement=3
    experience=100
    {AMLA_DEFAULT}
    level=2
    alignment=neutral
    advances_to=null
    cost=30
    usage=fighter
    description= _ "Rock Golems are creatures made out of solid, living rock. They have a weak attack, but are incredibly hard to destroy."+{SPECIAL_NOTES}+{SPECIAL_NOTES_STEADFAST}
    {DEFENSE_ANIM "units/monsters/rockgolem-defend.png" "units/monsters/rockgolem.png" skeleton-big-hit.ogg }
    die_sound=skeleton-big-die.ogg
    [abilities]
        {ABILITY_STEADFAST}
    [/abilities]
    [resistance]
        blade=50
        fire=50
        impact=70
        pierce=20
    [/resistance]
    [movement_costs]
        cave=2
    [/movement_costs]
    [death]
        [frame]
            begin=0
            end=200
            image="units/monsters/rockgolem-die1.png"
        [/frame]
        [frame]
            begin=200
            end=400
            image="units/monsters/rockgolem-die2.png"
        [/frame]
        [frame]
            begin=400
            end=600
            image="units/monsters/rockgolem-die3.png"
        [/frame]
    [/death]
    [attack]
        name=fist
        description=_"fist"
        icon=attacks/fist-troll.png
        type=impact
        range=melee
        damage=4
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=fist
        [/filter_attack]
        [frame]
            begin=-200
            end=100
            image="units/monsters/rockgolem-attack.png"
            sound=fist.ogg
        [/frame]
    [/attack_anim]
[/unit_type]
